* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

.Map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome-container {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Welcome-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,.3);
}

.Welcome-text {
  margin-bottom: 20px;
  font-size: 15px;
}

.feeling-lucky-btn {
  font-size: 13px;
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
}

