* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  /* box-sizing: border-box; */
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  
}

.App {
  display: flex;
  justify-content: center;
}

.Map-container {
  height: 50vh;
  display: flex;
  justify-content: right;
}

.welcome-container {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  
}

.Welcome-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,.15);
}

.Welcome-text {
  margin-bottom: 20px;
  font-size: 32px;
}

.feeling-lucky-btn {
  font-size: 15px;
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
}
