.destinations-container {
    /* background-image: url('../src/assets/eiffel-test.jpeg') ;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%; */
}

.nav {
    color: rgb(146, 145, 145);
    padding-top: 0px;
}

.destination-title {
    font-family: 'Koulen', sans-serif;
    color: rgb(182, 182, 182);
    font-size: 60px;
    text-align: left;
    margin: 40px 0px 10px 10px;
    line-height: 1;
    grid-row: 2;
}

.destination-btn {
    color: rgb(3, 3, 3);
    font-size: 40px;
}

.images-container {
    border: 1px solid black;
    height: 25vh;
    margin: 30px 0px 30px 0px;
  }
  