.destinations-container {
    background-color: rgb(252, 249, 249);
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(146, 145, 145);
    height: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.nav {
    color: black;
    text-decoration: none;
}

.destination-title {
    font-family: 'Koulen', sans-serif;
    color: rgb(182, 182, 182);
    font-size: 60px;
    text-align: left;
    margin: 40px 0px 10px 10px;
    line-height: 1;
    grid-row: 2;
}

.destination-btn {
    color: rgb(0, 0, 0);
    font-size: 40px;
}

/* .images-container {
    display: grid;
    width: 50vw;
}

.images-container img {
    margin-top: 20px;
} */
  