.destinations-container {
    background-color: rgb(235, 218, 207);
}

nav {
    background-color: rgb(218, 196, 182);
    color: rgb(146, 145, 145);
    height: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.nav {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.destination-title {
    font-family: 'Koulen', sans-serif;
    color: rgb(169, 147, 131);
    font-size: 60px;
    text-align: left;
    margin: 40px 0px 10px 10px;
    line-height: 1;
    grid-row: 2;
}

.destination-btn {
    color: black;
    font-size: 40px;
}

