.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    top: 0;
    position: absolute;
}

.card-container {
    border-radius: 25px;
    width: 500px;
    max-width: 500px;
}

.destination-title {
    font-size: 55px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    z-index: 0;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    bottom: 0;
    position: absolute;
}

@media only screen and (max-width: 500px) {
    .destination-title {
        font-size: 55px;
        padding: 20px 0px 10px 0px;
    }
    .card-container {
        margin: 1rem 1rem 1.5rem 1rem;
        padding: 0;
    }

    .map-container {
        height: fit-content;
        max-width: 500px;
    }
    
}
@media only screen and (max-width: 400px) {
    .destination-title {
        font-size: 38px;
    }
    
}
@media only screen and (max-width: 450px) {
    .destination-title {
        font-size: 35px;
    }
    
}