.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    top: 0;
    position: absolute;
}

.favs-nav {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.529);
}

.favs-nav ul {
    list-style-type: none;
}

.destination-title {
    font-size: 50px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer a {
    color: black;
}

@media only screen and (max-width: 500px) {
    .destination-title {
        font-size: 46px;
        /* padding: 20px 0px 10px 0px; */
    }

    .card-container {
        margin: 1rem 1rem 1.5rem 1rem;
        padding: 0;
    }

    .map-container {
        height: fit-content;
        max-width: 500px;
    }
    
}
@media only screen and (max-width: 400px) {
    .destination-title {
        font-size: 38px;
    }
    
}
@media only screen and (max-width: 450px) {
    .destination-title {
        font-size: 36px;
    }
    
}
@media only screen and (max-height: 800px) {
    .card-container {
        height: 680px;
    }
    
}