.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    top: 0;
    position: absolute;
    /* padding-bottom: 50px; */
}

.favs-nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 5px;
    font-size: 20px;
   
}

.favs-container {
    height: 100vh;
    width: 65vw;
    max-width: 300px;
    position: fixed;
    left: 0;
    background-color: rgba(172, 221, 222, 0.862);
    z-index: 2;
    animation: .3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 0%;
  }
}


.favs-container h1 {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    margin: 6px 20px 20px 40px;
}

.favs-container ul {
    list-style-type: none;
    margin-top: 20px;
}

.favs-container li {
    text-align: left;
    margin: 20px 10px 10px 10px;
    padding: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.favs-container li:hover {
    color: rgb(188, 153, 112);
    cursor: pointer;
}

.delete-btn {
    background-color: rgba(255, 255, 255, 0); 
    border: none;
    cursor: pointer;
}

.favs-container div {
    margin-right: 10px;
    margin-top: 40px;
}

.favs-container p {
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.favs-container span {
    color: white;
}

.developed-by {
    position: fixed;
    bottom: 0;
    font-weight: 300;
    font-size: 18px;
}

.developed-by a {
    color: grey
}

.destination-title {
    font-size: 50px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
}

.footer a {
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .destination-title {
        font-size: 46px;
        /* padding: 20px 0px 10px 0px; */
    }

    .card-container {
        margin: 1rem 1rem 1.5rem 1rem;
        padding: 0;
    }

    .map-container {
        height: fit-content;
        max-width: 450px;
    }
    
}
@media only screen and (max-width: 400px) {
    .destination-title {
        font-size: 38px;
    }
    
}
@media only screen and (max-width: 450px) {
    .destination-title {
        font-size: 36px;
    }
    
}
@media only screen and (max-height: 800px) {
    .card-container {
        height: 680px;
    }
    
}