.carousel {
    max-width: fit-content;
    max-height: fit-content;
    box-shadow:  0 2px 20px gray;
}

.carousel-root {
    max-width: fit-content;
    max-height: 600px;
}

 .card {
    max-width: fit-content;
    max-height: 600px;
} 