.destinations-nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.8);
    grid-area: 1 / 1 / 2 / 2;
}

.like-btn:hover {
    color: rgb(255, 47, 82);
}
.like-btn:active {
    color: rgb(255, 47, 82);
}

.dice-btn:hover {
    color:white;
}
.dice-btn:active {
    color:rgb(2, 2, 2);
}

.map-btn:hover {
    color:white;
}
.map-btn:active {
    color:rgb(2, 2, 2);
}

.card-container {
    background-color: rgba(255, 255, 255, 0.4);
    height: 90vh;
}

.card {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 25px;
}

.carousel {
    max-width: 400px;
    max-height: 600px;
    border-radius: 25px;
}

.card-body{
    /* max-height: 400px; */
    height: 400px;
    border-radius: 25px;
}

.control-arrow {
    height: inherit;
}

.card-body img {
    border-radius: 25px;
    max-height: fit-content;
} 

.carousel-status {
    display: none;
}

.destination-btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
}


@media only screen and (max-width: 500px) {
    .carousel {
        max-width: 300px;
        max-height: 400px;
    }

    .card-body{
        max-height: 450px;
    }
    
}