/* .carousel-container {
    width: 90%;
    max-width: 500px;
    height: 50%;
    background-color: black;
    display: flex;
}

.carousel {
    display: flex;
    height: 100%;
    width: 100%;
    
} */