body {
    margin: 0;
}

.nav {
    position: fixed;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1rem;
}

footer ul {
    padding: 0;
    margin: 0;
    gap: 3rem;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer a {
    color: black;
    text-decoration: none;
}
